    .mains{
    text-align :center;
    border : solid 10px orange;
    border-radius : 4rem;
    background-color:slateblue;
}
li {
    list-style : none;
    font-size : 20px;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight : 300;
}

.name {
    color : white;
    text-decoration : underline;
    font-weight : 700;
}

.tasks {
    border : double 10px dodgerblue;
    margin-left: 400px;
    margin-right : 400px;
    background-color : skyblue;
    color : whitesmoke;
    border-radius: 2rem;
}
button {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.8em;
    border-radius: 2rem;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: .8px;
    padding: .72em 1.5em;
    position: relative;
    transition: all .2s ease-in-out;
    background: orange;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    outline-width : 0;
  }
  
  button:hover {
    transition : all 0.5s ease-in-out;
    border: solid 5px white;
    background:linear-gradient(90deg, rgb(0, 255, 234), rgb(118, 0, 253));
  }

h3 {
    text-decoration:underline;
}
.realInput{
    display : flex;
    text-align:center;
    align-items:center;
    background-color:#dadfea;
    justify-content: center;
    padding:10px;
    margin-left:42%;
    margin-right:42%;
    border-radius:5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    box-shadow: 150, 150, 150,150, black;
}

.realInput > input {
    border:none;
    padding : 10px;
    border-radius : 2rem;
    outline-width : 0;
    margin-left: 10px;
    border-radius : 5rem;
    border:none;
    background-color: transparent;
    outline-width : 0;
}

.labels{
    color : whitesmoke;
    text-decoration:underline;
}

@media(max-width : 1000px){
    .tasks{
        margin-left: 200px;
        margin-right : 200px;
        text-align:center;
    }
}
@media(max-width : 900px){
    .tasks{
        margin-left: 0px;
        margin-right : 0px;
        text-align:center;
    }
}

.statue {
    color : whitesmoke;
    font-weight : 300;
    font-size : 20px;
    text-decoration : underline;
}
.statue:hover {
    font-size : 30px;
    color : orangered;
    cursor :pointer;
    transition: ease-in-out all .5s;
}

@media(max-width:1400px){
    .realInput{
        margin-left: 40%;
        margin-right: 40%;
    }
}
@media(max-width:1200px){
    .realInput{
        margin-left: 40%;
        margin-right: 40%;
    }
}
@media(max-width:1100px){
    .realInput{
        margin-left: 400px;
        margin-right: 400px;
    }
}
@media(max-width:1050px){
    .realInput{
        margin-left: 350px;
        margin-right: 350px;
    }
}
@media(max-width:950px){
    .realInput{
        margin-left: 300px;
        margin-right: 300px;
    }
}
@media(max-width:830px){
    .realInput{
        margin-left: 250px;
        margin-right: 250px;
    }
}
@media (max-width:730px){
    .realInput{
        margin-left: 0;
        margin-right: 0;
    }
}

.unique {
    color : dodgerblue;
}
